<!--The content below is only a placeholder and can be replaced.-->


<div class="navbar">
    <a routerLink="">Home</a>
    <a routerLink="about">About</a>
    <div class="dropdown">
      <button class="dropbtn" routerLink="technology">Technology
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="php">PHP</a>
        <a routerLink="java">Java</a>
        <a routerLink="nodejs">NodeJs</a>
        <a routerLink= "c">C</a>
        <a routerLink= "dotnet" >DotNet</a>
        <a routerLink= "html">HTML</a>
      </div>
    </div>
    <a routerLink="contact" >ContactUS</a>
  </div>
  <router-outlet></router-outlet>

