<!--The content below is only a placeholder and can be replaced.-->


<div class="navbar">
    <a routerLink="">Home</a>
    <a routerLink="about">About</a>
    <div class="dropdown">
      <button class="dropbtn" routerLink="technology">Technology
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a [routerLink]="['/technology/php']">PHP</a>
        <a [routerLink]="['/technology/java']">Java</a>
        <!-- <a routerLink="technology/nodejs">NodeJs</a>
        <a routerLink= "technology/c">C</a>
        <a routerLink= "technology/dotnet" >DotNet</a>
        <a routerLink= "technology/html">HTML</a> -->
      </div>
    </div>
    <a routerLink="contact" >ContactUS</a>
  </div>
  <router-outlet></router-outlet>

